$color-primary:#9d4edd;

$color-primary-dark-1:#9036d9;
$color-primary-dark-2: #8127ca;
$color-primary-dark-3: #601d98;
$color-primary-dark-4:#50187e;

$color-primary-light-1: #b172e4;
$color-primary-light-2:#c596eb;
$color-primary-light-3: #d8b9f2;
$color-primary-light-4:#ecdcf8;

$color-white: #fff;
$color-grey: #ced4da;
$color-grey-dark: #adb5bd;
$color-grey-light: #e9ecef;
$color-black: #000;