.card {
    background-color: $color-grey;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    box-shadow: 0 .5rem 2rem rgba($color-black, .7);
    &__img {
        width: 100%;
        grid-column: 1/-1;
        grid-row: 1/2;
    }
    &__body {
        color: $color-black;
        font-size: 1.5rem;
        margin-left: 2rem;
        grid-column: 1/-1;
        margin-bottom: 1.5rem;
    }
    &__title {
        grid-column: 1/-1;
        font-size: 1.6rem;
        padding: 1.25rem;
        background-color: $color-primary-dark-4;
        color: $color-white;
        font-weight: 400;
        width: 80%;
        justify-self: center;
        align-self: end;
        text-align: center;
        transform: translateY(-50%);
        z-index: 10;
    }
    &__btn {
        grid-column: 1/-1;
    }
}