.slide {
    position: relative;
    //height: 100%;
    //transition: all 7s ease-out;
    object-fit: cover;
    width: 100%;
    &>img {
        transform: scale(1);
        object-fit: cover;
        height: auto;
        transition: all .9s;
    }
    /* &>img:hover {
        filter: brightness(50%);
        transform: scale(1);
    } */
    &:hover &__overlay {
        opacity: 1;
    }
    &:hover>img {
        filter: brightness(50%);
        transform: scale(1);
    }
    &__overlay {
        opacity: 0;
        transition: all .7s;
        //background-color: black;
        background-color: $color-primary-dark-4;
        line-height: normal;
        color: white;
        margin: 0 auto;
        white-space: pre-wrap;
        position: absolute;
        width: 100%;
        height: 18rem;
        bottom: 0;
        &__title {
            font-size: 2rem;
            text-align: center;
            margin: 3vh;
        }
        &__text {
            font-size: 1.8rem;
            white-space: pre-line;
            text-align: center;
            line-height: 1.9rem;
            margin: 2rem;
        }
    }
}